/* Global Styles for DevArts */
:root {
  --primary-color: #121212;
  /* Neutral Black/Dark Gray */
  --secondary-color: #262626;
  /* Neutral Dark Gray for cards */
  --accent-color: #38bdf8;
  /* Keep the Blue Accent */
  --text-color: #e5e5e5;
  /* Neutral Light Gray */
  --font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--primary-color);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

p,
span,
h1,
h2,
h3,
h4 {
  pointer-events: none;
}