:root {
  --primary-color: #121212;
  --secondary-color: #262626;
  --accent-color: #38bdf8;
  --text-color: #e5e5e5;
  --font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--primary-color);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}